body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f0f0f0;
}

.pie{
  text-align:center;
}
 /* firma circular http://abarcarodriguez.com/365/show?e=21 */
.wrap {
  width: 100px;
  height: 100px;
  margin: 15px auto 0;
  position: relative;
}
.wrap h1#circular {
  position: absolute;
  left: 50%;
  line-height: 0;
  margin-bottom: 0;
}
.wrap h1#circular span {
  font-size: 15px;
  font-family: 'MonoSpace';
  height: 40px;
  position: absolute;
  width: 10px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  text-transform: uppercase;
}
/* fin firma circular*/
